# Fortran object files
*.o
*.mod

# Latex files
*.aux
*.bbl
*.blg
*.idx
*.ilg
*.ind
*.log
*.synctex.gz
*.toc

# Configuration files used by Eclipse
*.project
*.settings
*.texlipse
*.classpath

# FSindo build files
FSindo/src/make.inc
FSindo/bin/sindo*
FSindo/lib/*.a

# JSindo build files
#JSindo/bin
JSindo/*.jar
# memo used for debug
JSindo/memo

# Interface scripts
Ext/*.sh

