# Fortran object files
*.o
*.mod
*.exe

# Latex files
*.aux
*.bbl
*.blg
*.idx
*.ilg
*.ind
*.log
*.synctex.gz
*.toc

# Configuration files used by Eclipse
*.project
*.settings
*.texlipse
*.classpath

# FSindo build files
FSindo/src/make.inc
FSindo/bin/sindo*
FSindo/lib/*.a

# JSindo build files
JSindo/bin
JSindo/build_JSindo.xml
JSindo/jar
JSindo/external_jars
JSindo/external_license

# memo used for debug
JSindo/memo

# Interface scripts
script/runGaussian.sh

# Misc
.DS_Store

